<!DOCTYPE html>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>0001.The God of Abraham praise!</ion-title>
    <ion-buttons slot="end" padding>
      <ion-icon name="star-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
<div class="ion-text-center">
  <p>
    <ion-title>1</ion-title>
    Lorem  dolor sit amet, consectetur adipiscing elit. Etiam rhoncus elit aliquam facilisis pharetra. Aenean consectetur lacinia diam a tincidunt. Vivamus facilisis lacus non velit suscipit 
  </p>
  <div class="ion-text-wrap">
    <h3>text-wrap</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
    </p>
  </div>
  <p>
    <ion-title>2</ion-title>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus elit aliquam facilisis pharetra. Aenean consectetur lacinia diam a tincidunt. Vivamus facilisis lacus non velit suscipit 
  </p>
  <p>
    <ion-title>4</ion-title>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus elit aliquam facilisis pharetra. Aenean consectetur lacinia diam a tincidunt. Vivamus facilisis lacus non velit suscipit 
  </p>
  <p>
    <ion-title>5</ion-title>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus elit aliquam facilisis pharetra. Aenean consectetur lacinia diam a tincidunt. Vivamus facilisis lacus non velit suscipit 
  </p>
</div>
</ion-content>
